.Ongoing-container {
  padding: 2rem 4rem;
  color: navy;
}

.Ongoing-container h1 {
  font-size: 2.5rem;
}
.Ongoing-container h2 {
  text-align: start;
  font-size: 2rem;
}

.Ongoing-container p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-style: italic;
}

.Ongoing-des {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.Ongoing-text {
  width: 100%;
  text-align: start;
  border-radius: 7px;
  margin-right: 0;
}

.Ongoing-text p {
  text-align: justify;
  font-size: 1.2rem;
}

.Ongoing-event {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.Ongoing-event img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.Ongoing-event img:nth-child(2) {
  margin-left: 2rem;
}

.Ongoing-2-heading {
  margin-top: 2rem;
}

@media screen and (max-width: 850px) {
  .Ongoing-container {
    padding: 1rem 1rem;
  }
  .Ongoing-container h1 {
    font-size: 1.5rem;
  }
  .Ongoing-container h2 {
    font-size: 1.3rem;
  }
  .Ongoing-container h3 {
    font-size: 1.15rem;
  }
  .Ongoing-container p {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .Ongoing-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0.5rem;
    padding-left: 0;
  }
  .Ongoing-event {
    flex-direction: column;
  }
  .Ongoing-event img {
    width: 100%;
  }
  .Ongoing-event img:nth-child(2) {
    margin-left: 0rem;
    margin-top: 1rem;
  }
  .Ongoing-2-heading {
    margin-top: 1rem;
  }
}
