.activity-container {
  margin: 2rem 4rem;
  color: rgb(6, 6, 146);
}

.activity-container h1 {
  font-size: 2.65rem;
}

.activity-container h2 {
  text-align: start;
  font-size: 2rem;
}
.activity-container p {
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

.rohingya-des,
.hurricane-des,
.gaza-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.rohingya-text {
  width: 50%;
  text-align: start;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  margin-right: 2rem;
}
.hurricane-text,
.gaza-text {
  width: 100%;
  text-align: start;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  margin-right: 2rem;
}

.hurricane-michael,
.gaza-help {
  width: 54%;
  display: flex;
  flex-direction: column;
}

.rohingya-text h2,
.hurricane-text h2,
.gaza-text h2 {
  padding-bottom: 1rem;
  justify-content: center;
  font-size: 1.6rem;
}

.rohingya-text p,
.hurricane-text p,
.gaza-text p {
  text-align: justify;
  font-size: 1.2rem;
}

.rohingya-image,
.retailSecurity-image-1,
.retailSecurity-image-2 {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

#corona-support-image-1,
#corona-support-image-2 {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.rohingya-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.retailSecurity-image-1 img,
#corona-support-image-1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.retailSecurity-image-2 img,
#corona-support-image-1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.hurricane-image-1 img,
.gaza-image img,
.gaza-image-1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  margin-top: 2rem;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.hurricane-image-2 img,
.gaza-image-2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.pitition-header,
.rohingya-header {
  margin-top: 2rem;
}

.pitition-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.pitition-text {
  width: 50%;
  text-align: start;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  margin-left: 2rem;
}
.pitition-text p {
  text-align: justify;
  font-size: 1.2rem;
}

.pitition-image,
.pitition-image-1 {
  position: relative;
  width: 75%;
  justify-content: space-between;
  z-index: -99;
}

.pitition-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.pitition-image-1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.pitition-image-1,
.retailSecurity-image-2,
#corona-support-image-2 {
  margin-left: 1rem;
}

.gaza-para-1 {
  margin-top: 1rem;
}

@media screen and (max-width: 850px) {
  .activity-container {
    margin: 1.5rem 1rem;
  }

  .activity-container h1 {
    font-size: 1.5rem;
  }

  .activity-container h2 {
    font-size: 1.4rem;
  }
  .activity-container p {
    font-size: 1rem;
  }
  .rohingya-des,
  .hurricane-des,
  .gaza-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0.5rem;
    padding-left: 0;
  }
  .rohingya-text,
  .hurricane-text,
  .gaza-text {
    width: 100%;
    text-align: start;
    border-radius: 7px;
    margin-right: 0;
  }
  .rohingya-text h2,
  .hurricane-text h2,
  .gaza-text h2 {
    justify-content: space-evenly;
    font-size: 1.3rem;
  }

  .pitition-des {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .pitition-text {
    width: 100%;
    text-align: start;
    font-size: 0.8rem;
    padding-right: 1.5rem;
    margin-left: 0.3rem;
    margin-right: 0rem;
  }

  .pitition-text h2 {
    justify-content: space-evenly;
    font-size: 1.3rem;
  }

  .pitition-image,
  .pitition-image-1,
  .retailSecurity-image-1,
  .retailSecurity-image-2,
  #corona-support-image-1,
  #corona-support-image-2 {
    width: 100%;
    margin: 0.6rem 0;
  }
  .hurricane-michael,
  .gaza-help {
    width: 100%;
    margin-top: 1rem;
  }

  .pitition-image-1,
  .retailSecurity-image-2,
  #corona-support-image-2 {
    margin-left: 0;
  }

  .rohingya-image {
    width: 100%;
    margin: 1.5rem 0;
  }

  .activity-container h2 {
    font-size: 1.3rem;
  }

  .gaza-image-1 img {
    margin-top: 0.8rem;
  }
}
