.activity-container {
  margin: 2rem 4rem;
  color: rgb(6, 6, 146);
}

.activity-container h1 {
  font-size: 2.65rem;
}

.activity-container h2 {
  text-align: start;
  font-size: 2rem;
}
.activity-container p {
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

.rohingya-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.rohingya-text {
  width: 50%;
  text-align: start;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  margin-right: 2rem;
  background-color: rgb(244, 234, 223);
}

.rohingya-text h2 {
  padding-bottom: 1rem;
  justify-content: center;
  font-size: 1.6rem;
}

.rohingya-text p {
  text-align: justify;
  font-size: 1.2rem;
}

.rohingya-image {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.rohingya-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.pitition-header {
  margin-top: 2rem;
}

.pitition-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.pitition-text {
  width: 50%;
  text-align: start;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  margin-left: 2rem;
  background-color: rgb(244, 234, 223);
}
.pitition-text p {
  text-align: justify;
  font-size: 1.2rem;
}

.pitition-image {
  position: relative;
  width: 50%;
  justify-content: space-between;
  z-index: -99;
}

.pitition-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 850px) {
  .activity-container {
    margin: 1.5rem 1rem;
  }

  .activity-container h1 {
    font-size: 1.5rem;
  }

  .activity-container h2 {
    font-size: 1.4rem;
  }
  .activity-container p {
    font-size: 1rem;
  }
  .rohingya-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0.5rem;
    padding-left: 0;
  }
  .rohingya-text {
    width: 100%;
    text-align: start;
    border-radius: 7px;
    margin-right: 0;
  }
  .rohingya-text h2 {
    justify-content: space-evenly;
    font-size: 1.3rem;
  }

  .pitition-des {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .pitition-text {
    width: 100%;
    text-align: start;
    font-size: 0.8rem;
    padding-right: 1.5rem;
    margin-left: 0.3rem;
    margin-right: 0rem;
  }

  .pitition-text h2 {
    justify-content: space-evenly;
    font-size: 1.3rem;
  }

  .pitition-image {
    width: 100%;
    margin: 1.5rem 0;
  }

  .rohingya-image {
    width: 100%;
    margin: 1.5rem 0;
  }
}
