.gallery-heading {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: rgb(6, 6, 146);
}
.gallery-container {
  margin: 2rem 0.5rem;
  color: rgb(6, 6, 146);
  text-align: start;
}

.GCH-event-activity-heading {
  justify-content: start;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.GCH-event-activity-gallery {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.GCH-event-activity-gallery img {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: -99;
  cursor: pointer;
  border-radius: 1.5rem;
}

@media screen and (max-width: 850px) {
  .gallery-heading {
    margin-top: 1.5rem;
    font-size: 0.8rem;
  }
  .gallery-container {
    margin: 1rem 0.5rem;
  }
  .GCH-event-activity-heading {
    padding-top: 0.5rem;
    font-size: 1.3rem;
  }

  .GCH-event-activity-gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .GCH-event-activity-gallery img {
    border-radius: 1.4rem;
  }
}
